<header>
    <nav>
        <div>{{ version() }}</div>
        <h1 class="logo">
            <a href="{{ path('homepage') }}">Localhost <span>Manager</span></a>
        </h1>
        <div>
            <a class="btn-primary" href="{{ path('configuration') }}">{{ 'config'|trans }}</a>
        </div>
    </nav>

    {% if get_route == 'homepage' %}
        <div class="search-container">
            <input type="search" v-model="search" placeholder="{{ 'search.placeholder'|trans }}">
        </div>
    {% endif %}
</header>

